{#
/**
 * @file
 * Default theme implementation to display easy_responsive_image.
 *
 * Available variables:
 * - item: The media object.
 * - item_attributes: The attributes attached to media.
 * - default_image_style_id : The default image style id.
 * - possible_image_styles_ids: The array of possible image styles, usually 
 *   to be attached as srcset.
 * - srcset: The sources as src strings array.
 * - uri: The image uri
 * - preferred_width: Preferred width of the image.
 * - preferred_height: Preferred height of the image.
 * - $url: Url to the file or media entity.
 * - $image: The image packed with srcset and sizes.
 *
 * @see template_preprocess_easy_responsive_image()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('easy_responsive_images/sizer') }}
{% if url %}
  {{ link(image,url) }}
{% else %}
  {{ image }}
{% endif %}

